    <style>
        p { text-indent: 25px;}
    </style>
<div>
    <img src="1.png" alt="drawing" width=100%/>
</div>
<h1>3dviewer v2.0</h1>
<div>
    <div><h2>Программа 3dviewer v2.0 разработанна студентами 21School в рамках учебного проекта.</h2></div>
    <div><h3>Программа разработанна на язык С++ с помошью фраемворка Qt creator 6.23.</h3></div>
    <div><h3>Программа выполняет открытие 3D моделей в формате ".obj" для просмотра в каркасном виде.</h3></div>
    <div><h3>Программа позволяет настраивать тип проекции (параллельная и центральная) по умолчанию используется параллельная.</h3></div>
    <ul>
        <li>Settings >> Projection</li>
    </ul>
    <div><h3>Программа позволяет настраивать тип (сплошная, пунктирная), цвет и толщину ребер, способ отображения (отсутствует, круг, квадрат), цвет и размер вершин.</h3></div>
    <ul>
        <li>Settings >> Customize Model >> Edges - для настроки отображения ребер модели ИЛИ Vertices для настройки вершин</li>
        <br>
        <img src="2.png" alt="drawing" width=30%/>
    </ul>
    <div><h3>Программа позволяет выбирать цвет фона.</h3></div>
    <ul>
        <li>Settings >> Backgroung</li>
        <br>
    </ul>
    <div><h3>Настройки сохраняться между перезапусками программы.</h3></div>
    <div><h3>Программа позволяет сохранять полученные ("отрендеренные") изображения в файл в форматах bmp и jpeg.</h3></div>
    <ul>
        <li>Model >> Safe screenshot as >> "выбор формата"</li>
        <br>
    </ul>
    <div><h3>Программа позволяет записывать небольшие "скринкасты" - текущие пользовательские аффинные преобразования загруженного объекта в gif-анимацию (640x480, 10fps, 5s).<h3></h3></div>
    <ul>
        <li>Model >> Safe screencast >> "Выбор пути для сохранения"</li>
        <br>
    </ul>
    <br />
